<div class="d-flex align-items-center justify-content-between mb-16">
    <div class="d-flex js-searchGroup">
        <div>
            <label for="order-num" class="visually-hidden">訂單編號</label>
            <input type="text"
                class="form-control rounded-0 border-top-0 border-start-0 border-end-0 js-inputSearch"
                id="order-num" placeholder="請輸入訂單編號" style="width: 150px;">
        </div>
        <a href="#" class=""><i class="bi bi-search fs-5 cms-btn"></i></a>
    </div>
    <select class="px-8 rounded-1 js-serviceSelect" aria-label="select">
        <option value="服務篩選" selected disabled hidden>服務項目</option>
        <option value="">全部</option>
        <option value="安親">安親</option>
        <option value="美容">美容</option>
        <option value="住宿">住宿</option>
    </select>
</div>