<div class="d-flex justify-content-center">
    <header class="topbar w-94 w-lg-75 w-xl-50 w-xxl-45 py-8 px-30 py-md-20 px-md-40 rounded-pill position-fixed z-2">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html"><img src="../assets/images/Logo.png" alt="Logo" class="w-64px h-64px w-md-80px h-md-80px"></a>
            <!-- table-menu -->
            <div class="d-none d-md-block">
                <ul class="table-menu d-flex">
                    <li class="me-32">
                        <a href="#" class="menu-link position-relative js-center <%- currentPage === 'memberCenter' ? 'active' : '' %>">會員中心</a>
                    </li>
                    <li class="me-32">
                        <a href="#" class="menu-link position-relative js-article <%- currentPage === 'article' ? 'active' : '' %>">毛孩專欄</a>
                    </li>
                    <li>
                        <a href="#" class="menu-link position-relative js-reverse <%- currentPage === 'reserve' ? 'active' : '' %>">線上預約</a>
                    </li>
                </ul>
            </div>
            <ul class="d-flex align-items-center">
                <li>
                    <a href="#" class="login-out-link d-flex align-items-center justify-content-center me-md-0 js-logOut">
                        <p class="link-circle-txt mb-0">登出</p>
                    </a>
                </li>
                <li class="d-md-none">
                    <div class="ham w-40px h-40px position-relative">
                        <div class="ham-line position-absolute d-block top-50 start-50 translate-middle"></div>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <!-- mobile-menu -->
    <div class="d-block d-md-none mobile-menu">
        <ul class="menu bg-primary d-flex flex-column position-fixed top-0 start-0 w-100 overflow-hidden z-99">
            <li class="d-flex justify-content-end pt-16 pe-12">
                <div class="closedHam w-80px h-80px position-relative rounded-circle">
                    <div class="closedHam-line position-absolute d-block top-50 start-50 translate-middle"></div>
                </div>
            </li>
            <li class="ms-12 mt-24 mb-32">
                <a href="memberCenter.html" class="menu-link text-white fw-bold js-center">會員中心</a>
            </li>
            <li class="ms-12 mb-32">
                <a href="article.html" class="menu-link text-white fw-bold js-article">毛孩專欄</a>
            </li>
            <li class="ms-12 mb-32">
                <a href="reverse.html" class="menu-link text-white fw-bold js-reverse">線上預約</a>
            </li>
            <li class="ms-12">
                <a href="#" class="menu-link text-white fw-bold js-logOut">登出</a>
            </li>
        </ul>
    </div>
</div>