<div class="col-lg-10 py-48 px-25 px-md-35">
    <div class="row mb-48">
        <label class="col-form-label">
            <div class="d-flex flex-column flex-md-row justify-content-md-between">
                <div class="d-inline mb-16 mb-md-0">毛孩姓名 <span class="text-danger">*</span></div>
                <div class="d-flex flex-column w-md-75">
                    <select class="form-select js-nameSelect" required>
                        <option class="js-select" value="" selected disabled hidden>請選擇毛孩姓名</option>
                    </select>
                    <div class="invalid-feedback">
                        <i class="bi bi-exclamation-circle me-4"></i>請選擇一個毛孩姓名
                    </div>
                </div>
            </div>
        </label>
    </div>
    <div class="row mb-48">
        <label class="col-form-label">
            <div class="d-flex flex-column flex-md-row justify-content-md-between">
                <div class="d-inline mb-16 mb-md-0">緊急聯絡人 <span class="text-danger">*</span></div>
                <div class="d-flex flex-column w-md-75">
                    <input class="form-control js-contact" list="emergencyContact" name="emergencyContact"
                        placeholder="請輸入完整姓名" required>
                    <datalist id="emergencyContact"></datalist>
                    <div class="invalid-feedback">
                        <i class="bi bi-exclamation-circle me-4"></i>請輸入緊急聯絡人姓名
                    </div>
                </div>
            </div>
        </label>
    </div>
    <div class="row mb-48">
        <label class="col-form-label">
            <div class="d-flex flex-column flex-md-row justify-content-md-between">
                <div class="d-inline mb-16 mb-md-0">聯絡手機 <span class="text-danger">*</span></div>
                <div class="d-flex flex-column w-md-75">
                    <input class="form-control js-phone" list="emergencyPhone" name="emergencyPhone"
                        placeholder="請輸入手機號碼" required>
                    <datalist id="emergencyPhone"></datalist>
                    <div class="invalid-feedback js-phoneError">
                        <i class="bi bi-exclamation-circle me-4"></i>請輸入緊急聯絡人手機號碼
                    </div>
                </div>
            </div>
        </label>
    </div>
    <div class="row mb-48">
        <label class="col-form-label">
            <div class="d-flex flex-column flex-md-row justify-content-md-between">
                <div class="d-inline mb-16 mb-md-0">其他備註</div>
                <textarea name="remark" id="remark" class="form-control w-md-75 rounded-1"
                    style="height: 158px;"></textarea>
            </div>
        </label>
    </div>
    <div class="row justify-content-md-end">
        <div class="col-md-9">
            <button type="submit"
                class="d-flex justify-content-center align-items-center btn btn-primary reverse-btn link-slide-primary rounded-0 w-100 js-submitBtn">送出<i
                    class="bi bi-arrow-right d-block fs-4 ms-16"></i></button>
        </div>
    </div>
</div>