//Service Swiper
.mySwiper .swiper-btn {
    color: $white;

    &::before,
    &::after {
        font-size: 28px;
    }
}

//memberCenter Swiper
.dogInfoSwiper .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    border-radius: 50rem;

    @include pc-lg {
        height: 8px;
    }

    &-active {
        background-color: $primary;
    }
}