.ui-timepicker {
    &-wrapper {
        width: 220px;
        height: 180px;
    }

    &-list {
        li {
            padding-left: 38%;

            &:hover {
                background-color: $secondary;
                color: $black;
            }
        }
    }
}