.topbar {
    background-color: rgba($color: $white, $alpha: 0.8);
    top: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @include pad {
        top: 20px;
    }
}