.order {

    &-link:hover {
        color: $white;
        background-color: $primary;
    }

    .js-inputSearch:focus {
        border-bottom-color: $dark;
        box-shadow: none;
    }
}

.cms-btn {
    color: $dark;

    &:hover {
        color: $primary;
    }
}