.member {
    &-center {
        @include pc-lg {
            background-image: url("../images/paw-right.png");
            background-position: 95% 25%;
        }
    }
}

.img-cursor {
    cursor: pointer;
}

// 大頭預設照片
.default-photo {
    background-image: url("../images/member-img.png");
}