.member {
    &-center {
        @include pc-lg {
            background-image: url("../images/paw-right.png");
            background-position: 95% 25%;
        }

        input,
        select,
        textarea {
            @extend %input-style;
        }
    }

    &-img {
        width: 120px;
        height: 120px;

        @include pc {
            width: 150px;
            height: 150px;
        }
    }
}

.logo-img {
    width: 150px;
    height: 150px;
}

.img-cursor {
    cursor: pointer;
}

// 大頭預設照片
.default-photo {
    background-image: url("../images/member-img.png");
}