<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘿毛寵物旅館 | 訂單管理</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.1/jquery.timepicker.css">
</head>

<body class="js-cmsOrder d-none">

    <%- include('./layout/cms-sidebar', { currentPage: 'cms-order' }); -%>
        <main class="main order">
            <div class="bg-white border-black-60 border-bottom sticky-top">
                <a href="#" class="ps-24 py-16" id="toggle-btn" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
                        class="bi bi-arrows-angle-expand"></i></a>
                <span class="ps-16">嘿毛，歡迎登入</span>
            </div>
            <div class="p-24 p-lg-48">
                <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-24">
                    <ul class="nav nav-pills mb-24 mb-md-0">
                        <li class="nav-item me-lg-8">
                            <a class="nav-link order-link rounded-pill js-allCasePill active" href="#" id="allCase-tab"
                                data-bs-toggle="tab" data-bs-target="#allCase" role="tab">所有訂單<span
                                    class="bg-light text-dark rounded-pill px-4 ms-4">999+</span></a>
                        </li>
                        <li class="nav-item me-lg-8">
                            <a class="nav-link order-link rounded-pill js-openCasePill" href="#" id="openCase-tab"
                                data-bs-toggle="tab" data-bs-target="#openCase" role="tab">未結案<span
                                    class="bg-light text-dark rounded-pill px-4 ms-4 js-openCaseNum"></span></a>
                        </li>
                        <li class="nav-item me-lg-8">
                            <a class="nav-link order-link rounded-pill js-canacelPill" href="#" id="cancelCase-tab"
                                data-bs-toggle="tab" data-bs-target="#cancelCase">已取消<span
                                    class="bg-light text-dark rounded-pill px-4 ms-4 js-cancelCaseNum"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link order-link rounded-pill js-blacklistPill" href="#" id="blacklist-tab"
                                data-bs-toggle="tab" data-bs-target="#blacklist">黑名單<span
                                    class="bg-light text-dark rounded-pill px-4 ms-4 js-blackListNum"></span></a>
                        </li>
                    </ul>
                    <div>
                        <a href="#" class="px-8 cms-btn position-relative"><i class="bi bi-bell-fill fs-5"></i>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">32</span>
                        </a>
                    </div>
                </div>
                <div class="tab-content" id="tabContent">
                    <!-- 所有訂單 -->
                    <div class="tab-pane allCase active" id="allCase" role="tabpanel" aria-labelledby="allCase-tab">
                        <%- include('./layout/cms-filter'); -%>
                            <div class="table-responsive mb-48">
                                <table class="table text-nowrap table-hover align-middle mb-0">
                                    <thead class="text-center border-bottom border-dark">
                                        <tr>
                                            <th scope="col">訂單編號</th>
                                            <th scope="col">訂單日期</th>
                                            <th scope="col">預約服務</th>
                                            <th scope="col">會員姓名</th>
                                            <th scope="col">會員電話</th>
                                            <th scope="col">毛孩姓名</th>
                                            <th scope="col">樂園服務</th>
                                            <th scope="col">完成</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center js-allCaseContent"></tbody>
                                </table>
                            </div>
                            <%- include('./layout/pagination'); -%>
                    </div>
                    <!-- 所有訂單 - 安親Modal -->
                    <div class="modal fade" id="allCaseDayCareModal" aria-labelledby="allCaseDayCareModalLabel"
                        aria-hidden="true" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="allCaseDayCareModalLabel">訂單編號：<span
                                            class="modalOrderNum"></span></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-48">
                                    <div class="d-lg-flex justify-content-lg-around">
                                        <div class="mb-16 mb-md-0">
                                            <p>訂單日期：<span class="modalDate"></span></p>
                                            <p>預約服務：<span class="modalService"></span></p>
                                            <p>會員姓名：<span class="modalName"></span></p>
                                            <p>會員電話：<span class="modalPhone"></span></p>
                                            <p>毛孩姓名：<span class="modalDogName"></span></p>
                                            <p>樂園服務：<span class="modalParadise"></span></p>
                                            <p class="mb-0">其他備註：<span class="modalRemark"></span></p>
                                        </div>
                                        <div class="mb-32">
                                            <p>緊急聯絡：<span class="modalEmergencyContact"></span></p>
                                            <p>聯絡電話：<span class="modalEmergencyPhone"></span></p>
                                            <p>訂單金額：<span class="modalTotal"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 所有訂單 - 美容Modal -->
                    <div class="modal fade" id="allCaseCosmeticModal" aria-labelledby="allCaseCosmeticModalLabel"
                        aria-hidden="true" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="allCaseCosmeticModal">訂單編號：<span
                                            class="modalOrderNum"></span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-48">
                                    <div class="d-lg-flex justify-content-lg-around">
                                        <div class="mb-16 mb-md-0">
                                            <p>訂單日期：<span class="modalDate"></span></p>
                                            <p>預約服務：<span class="modalService"></span></p>
                                            <p>毛孩體型：<span class="modalSize"></span></p>
                                            <p>美容方案：<span class="modalPlan"></span></p>
                                            <p>會員姓名：<span class="modalName"></span></p>
                                            <p>會員電話：<span class="modalPhone"></span></p>
                                            <p>毛孩姓名：<span class="modalDogName"></span></p>
                                            <p>樂園服務：<span class="modalParadise"></span></p>
                                            <p class="mb-0">其他備註：<span class="modalRemark"></span></p>
                                        </div>
                                        <div class="mb-32">
                                            <p>緊急聯絡：<span class="modalEmergencyContact"></span></p>
                                            <p>聯絡電話：<span class="modalEmergencyPhone"></span></p>
                                            <p>訂單金額：<span class="modalTotal"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 所有訂單 - 住宿Modal -->
                    <div class="modal fade" id="allCaseStayModal" aria-labelledby="allCaseStayModalLabel"
                        aria-hidden="true" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="allCaseStayModal">訂單編號：<span
                                            class="modalOrderNum"></span></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-48">
                                    <div class="d-lg-flex justify-content-lg-around">
                                        <div class="mb-16 mb-md-0">
                                            <p>訂單日期：<span class="modalDate"></span></p>
                                            <p>預約服務：<span class="modalService"></span></p>
                                            <p>房型選擇：<span class="modalRoom"></span></p>
                                            <p>入住日期：<span class="modalStarDate"></span></p>
                                            <p>退房日期：<span class="modalEndDate"></span></p>
                                            <p>會員姓名：<span class="modalName"></span></p>
                                            <p>會員電話：<span class="modalPhone"></span></p>
                                            <p>毛孩姓名：<span class="modalDogName"></span></p>
                                            <p>樂園服務：<span class="modalParadise"></span></p>
                                            <p class="mb-0">其他備註：<span class="modalRemark"></span></p>
                                        </div>
                                        <div class="mb-32">
                                            <p>緊急聯絡：<span class="modalEmergencyContact"></span></p>
                                            <p>聯絡電話：<span class="modalEmergencyPhone"></span></p>
                                            <p>訂單金額：<span class="modalTotal"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 未結案 -->
                    <div class="tab-pane openCase" id="openCase" role="tabpanel" aria-labelledby="openCase-tab">
                        <%- include('./layout/cms-filter'); -%>
                            <div class="table-responsive mb-48">
                                <table class="table text-nowrap table-hover align-middle mb-0">
                                    <thead class="text-center border-bottom border-dark">
                                        <tr>
                                            <th scope="col">訂單編號</th>
                                            <th scope="col">訂單日期</th>
                                            <th scope="col">預約服務</th>
                                            <th scope="col">會員姓名</th>
                                            <th scope="col">會員電話</th>
                                            <th scope="col">毛孩姓名</th>
                                            <th scope="col">樂園服務</th>
                                            <th scope="col">完成</th>
                                            <th scope="col">取消</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center js-openCaseContent"></tbody>
                                </table>
                            </div>
                            <%- include('./layout/pagination'); -%>
                    </div>
                    <!-- 未結案- dayCareModal -->
                    <div class="modal fade" id="dayCareModal" aria-labelledby="dayCareModalLabel" aria-hidden="true"
                        tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="dayCareModal">訂單編號：<span class="modalOrderNum"></span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-48">
                                    <div class="d-lg-flex justify-content-lg-around">
                                        <div class="mb-16 mb-md-0">
                                            <p>訂單日期：<span class="modalDate"></span></p>
                                            <p>預約服務：<span class="modalService"></span></p>
                                            <p>會員姓名：<span class="modalName"></span></p>
                                            <p>會員電話：<span class="modalPhone"></span></p>
                                            <p>毛孩姓名：<span class="modalDogName"></span></p>
                                            <p>樂園服務：<span class="modalParadise"></span></p>
                                            <p class="mb-0">其他備註：<span class="modalRemark"></span></p>
                                        </div>
                                        <div class="d-flex flex-column justify-content-between">
                                            <div class="mb-32">
                                                <p>緊急聯絡：<span class="modalEmergencyContact"></span></p>
                                                <p>聯絡電話：<span class="modalEmergencyPhone"></span></p>
                                                <div class="d-flex align-items-center">
                                                    <label for="total" class="form-label me-16 mb-0">訂單金額</label>
                                                    <div>
                                                        <input type="text" class="form-control modalTotal" id="total">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button"
                                                class="btn btn-primary text-white w-100 w-md-50 w-lg-100 mx-auto js-storeBtn">儲存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 未結案- cosmeticModal -->
                    <div class="modal fade" id="cosmeticModal" aria-labelledby="cosmeticModalLabel" aria-hidden="true"
                        tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cosmeticModal">訂單編號：<span class="modalOrderNum"></span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-48">
                                    <div class="d-lg-flex justify-content-lg-around">
                                        <div class="mb-16 mb-md-0">
                                            <p>訂單日期：<span class="modalDate"></span></p>
                                            <p>預約服務：<span class="modalService"></span></p>
                                            <p>毛孩體型：<span class="modalSize"></span></p>
                                            <p>美容方案：<span class="modalPlan"></span></p>
                                            <p>會員姓名：<span class="modalName"></span></p>
                                            <p>會員電話：<span class="modalPhone"></span></p>
                                            <p>毛孩姓名：<span class="modalDogName"></span></p>
                                            <p>樂園服務：<span class="modalParadise"></span></p>
                                            <p class="mb-0">其他備註：<span class="modalRemark"></span></p>
                                        </div>
                                        <div class="d-flex flex-column justify-content-between">
                                            <div class="mb-32">
                                                <p>緊急聯絡：<span class="modalEmergencyContact"></span></p>
                                                <p>聯絡電話：<span class="modalEmergencyPhone"></span></p>
                                                <div class="d-flex align-items-center">
                                                    <label for="total" class="form-label me-16 mb-0">訂單金額</label>
                                                    <div>
                                                        <input type="text" class="form-control modalTotal" id="total">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button"
                                                class="btn btn-primary text-white w-100 w-md-50 w-lg-100 mx-auto js-storeBtn">儲存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 未結案- stayModal -->
                    <div class="modal fade" id="stayModal" aria-labelledby="stayModalLabel" aria-hidden="true"
                        tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="stayModal">訂單編號：<span class="modalOrderNum"></span></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-48">
                                    <div class="d-lg-flex justify-content-lg-around">
                                        <div class="mb-16 mb-md-0">
                                            <p>訂單日期：<span class="modalDate"></span></p>
                                            <p>預約服務：<span class="modalService"></span></p>
                                            <p>房型選擇：<span class="modalRoom"></span></p>
                                            <p>入住日期：<span class="modalStarDate"></span></p>
                                            <p>退房日期：<span class="modalEndDate"></span></p>
                                            <p>會員姓名：<span class="modalName"></span></p>
                                            <p>會員電話：<span class="modalPhone"></span></p>
                                            <p>毛孩姓名：<span class="modalDogName"></span></p>
                                            <p>樂園服務：<span class="modalParadise"></span></p>
                                            <p class="mb-0">其他備註：<span class="modalRemark"></span></p>
                                        </div>
                                        <div class="d-flex flex-column justify-content-between">
                                            <div class="mb-32">
                                                <p>緊急聯絡：<span class="modalEmergencyContact"></span></p>
                                                <p>聯絡電話：<span class="modalEmergencyPhone"></span></p>
                                                <div class="d-flex align-items-center">
                                                    <label for="total" class="form-label me-16 mb-0">訂單金額</label>
                                                    <div>
                                                        <input type="text" class="form-control modalTotal" id="total">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button"
                                                class="btn btn-primary text-white w-100 w-md-50 w-lg-100 mx-auto js-storeBtn">儲存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 未結案-checkbox_Modal -->
                    <div class="modal fade" id="checkModal" aria-labelledby="checkModalLabel" aria-hidden="true"
                        tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="checkModal">訂單編號：<span class="js-checkModalNum"></span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-auto fw-normal">
                                    <p class="fs-4 text-center mb-24">是否要將訂單結案？</p>
                                    <button type="button"
                                        class="btn btn-success text-white px-48 me-16 js-checkBtn">是</button>
                                    <button type="button"
                                        class="btn btn-danger text-white px-48 js-nocheckBtn">否</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 未結案-取消按鈕_Modal -->
                    <div class="modal fade" id="cancelModal" aria-labelledby="cancelModalLabel" aria-hidden="true"
                        tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cancelModal">訂單編號：<span
                                            class="js-cancelModalNum"></span></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body mx-auto fw-normal">
                                    <p class="fs-4 text-center mb-24">是否要取消此訂單?</p>
                                    <button type="button"
                                        class="btn btn-success text-white px-48 me-16 js-cancelBtn">是</button>
                                    <button type="button"
                                        class="btn btn-danger text-white px-48 js-noCancelBtn">否</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 已取消 -->
                    <div class="tab-pane cancelCase" id="cancelCase" role="tabpanel" aria-labelledby="cancelCase-tab">
                        <%- include('./layout/cms-filter'); -%>
                            <div class="table-responsive mb-48">
                                <table class="table text-nowrap table-hover align-middle mb-0">
                                    <thead class="text-center border-bottom border-dark">
                                        <tr>
                                            <th scope="col">訂單編號</th>
                                            <th scope="col">訂單日期</th>
                                            <th scope="col">預約服務</th>
                                            <th scope="col">會員姓名</th>
                                            <th scope="col">會員電話</th>
                                            <th scope="col">毛孩姓名</th>
                                            <th scope="col">樂園服務</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center js-cancelCaseContent"></tbody>
                                </table>
                            </div>
                            <%- include('./layout/pagination'); -%>
                    </div>
                    <!-- 已取消_Modal -->
                    <div class="modal fade" id="cancelCaseModal" aria-labelledby="cancelCaseModalLabel"
                        aria-hidden="true" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cancelCaseModal">訂單編號：<span
                                            class="modalOrderNum"></span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-24">
                                    <ul class="d-md-flex justify-content-md-around">
                                        <li class="mb-16 mb-md-0">
                                            <p>訂單日期：<span class="modalDate"></span></p>
                                            <p>預約服務：<span class="modalService"></span></p>
                                            <p>會員姓名：<span class="modalName"></span></p>
                                            <p>會員電話：<span class="modalPhone"></span></p>
                                            <p>毛孩姓名：<span class="modalDogName"></span></p>
                                            <p>樂園服務：<span class="modalParadise"></span></p>
                                            <p class="mb-0">其他備註：<span class="modalRemark"></span></p>
                                        </li>
                                        <li>
                                            <p>緊急聯絡：<span class="modalEmergencyContact"></span></p>
                                            <p class="mb-0">聯絡電話：<span class="modalEmergencyPhone"></span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 黑名單 -->
                    <div class="tab-pane blacklist" id="blacklist" role="tabpanel" aria-labelledby="blacklist-tab">
                        <div class="d-flex justify-content-end mb-16">
                            <a href="#" class="cms-btn lh-1" data-bs-toggle="modal" data-bs-target="#blackListModal"><i
                                    class="bi bi-person-plus fs-3 me-8"></i>新增黑名單</a>
                        </div>
                        <div class="table-responsive mb-48">
                            <table class="table text-nowrap table-hover align-middle">
                                <thead class="text-center border-bottom border-dark">
                                    <tr>
                                        <th scope="col">會員姓名</th>
                                        <th scope="col">會員Email</th>
                                        <th scope="col">會員電話</th>
                                        <th scope="col">停權日期</th>
                                        <th scope="col">停權事由</th>
                                </thead>
                                <tbody class="text-center js-blacklist"></tbody>
                            </table>
                        </div>
                        <%- include('./layout/pagination'); -%>

                            <!-- 黑名單_Modal -->
                            <div class="modal fade" id="blackListModal" aria-labelledby="blackListModalLabel"
                                aria-hidden="true" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header border-bottom-0">
                                            <h3 class="modal-title fw-bold" id="blackListModal">新增黑名單</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <form class="modal-body p-24 needs-validation blackForm" novalidate>
                                            <h2 class="fs-5 fw-bold mb-16">會員資料</h2>
                                            <label class="form-label w-100 mb-16">會員姓名
                                                <input type="text" class="form-control rounded-0 js-blockName"
                                                    placeholder="王小明" required>
                                                <div class="invalid-feedback">
                                                    <i class="bi bi-exclamation-circle me-4"></i> 請輸入會員姓名
                                                </div>
                                            </label>
                                            <label class="form-label w-100 mb-16">會員Email
                                                <input type="email" class="form-control rounded-0 js-blockEmail"
                                                    placeholder="example@mail.com.tw" required>
                                                <div class="invalid-feedback js-errorEmail">
                                                    <i class="bi bi-exclamation-circle me-4"></i> 請輸入會員Email
                                                </div>
                                            </label>
                                            <label class="form-label w-100 pb-24 border-bottom border-black-40">會員電話
                                                <input type="tel" class="form-control rounded-0 js-blockPhone"
                                                    placeholder="0912345678" required>
                                                <div class="invalid-feedback js-errorPhone">
                                                    <i class="bi bi-exclamation-circle me-4"></i> 請輸入會員手機號碼
                                                </div>
                                            </label>
                                            <h2 class="fs-5 fw-bold pt-24 mb-16">停權資訊</h2>
                                            <label class="form-label w-100 mb-16">停權日期
                                                <input type="text"
                                                    class="form-control datepicker rounded-0 js-blockDate"
                                                    placeholder="點擊選擇日曆日期" required>
                                                <div class="invalid-feedback">
                                                    <i class="bi bi-exclamation-circle me-4"></i> 請點擊選擇停權日期
                                                </div>
                                            </label>
                                            <label class="form-label w-100 mb-24">詳細事由
                                                <textarea name="blackReson"
                                                    class="form-control rounded-0 js-blockReason" style="height: 100px"
                                                    placeholder="請填寫原因" required></textarea>
                                                <div class="invalid-feedback">
                                                    <i class="bi bi-exclamation-circle me-4"></i> 請輸入停權事由
                                                </div>
                                            </label>
                                            <div class="text-end">
                                                <button type="submit"
                                                    class="btn btn-success text-white px-48 me-8">新增</button>
                                                <button type="button"
                                                    class="btn btn-danger text-white px-48 js-clearFormBtn">清空</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.1/jquery.timepicker.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="module" src="../main.js"></script>
        <script type="module" src="../assets/js/cms-order.js"></script>
        <script>
            const toggleMenuBtn = document.querySelector('#toggle-btn');
            const body = document.querySelector('body');
            toggleMenuBtn.addEventListener('click', (e) => {
                e.preventDefault();
                body.classList.toggle('sidebar-toggled');
            });
        </script>
        <script type="module" src="../assets/js/adminLogOut.js"></script>
</body>